html {background-color : #b3c2db;}
 
body {
    width : 980px;
    margin-left : auto;
    margin-right : auto;
    font-family : Gill Sans, sans-serif;
    font-size : 1.2em;
    color : #404040;
    background-color : white;
    padding : 10px;
    padding-top : 0px;
    border-radius: 1%;
}
 
a {
    color : #3AA6D0;
    text-decoration : none;
}
 
/* H TAGS */
 
h1 {
    display:block;
    font-size : 2em;
    width : 900px;
    word-wrap: break-word;
}
 
h2 {
    display:block;
    font-size : 1.5em;
    color : #FF8500;
    width : 900px;
    word-wrap:break-word;
}
 
h3 {
    display:block;
    font-size : 1.2em;
    color : #00B945;
    padding-left: 40px;
    width : 900px;
    word-wrap:break-word;
}


table, tr, td {
    border: 1px solid #3AA6D0;
}


input[type=submit], select {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}